/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 30%;

}


/* Add your CSS below */

body {
  background-color: azure;
  color: green;
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  color: burlywood;
  font-size: medium;
  text-decoration: none;
}

a :hover {}